{% extends "layout.html" %}
{% set active_page='error_summary' %}
{% set scripts=['select_all'] %}
{% from 'macros.html' import log_table %}
{% block content%}

<form>
  <select name="filtering">
    <option value="" {{ 'selected="selected"' | safe if filtering is none }}>Any error type</option>
    {% for f in filtering_options %}
    <option value="{{ f }}" {{ 'selected="selected"' | safe if filtering == f }}> {{ f | capitalize }} </option>
    {% endfor %}
  </select>
  <select name="chosentask">
    <option value="" {{ 'selected="selected"' |safe if chosentask is none }}>Any task</option>
    {% for t in tasks %}
    <option value="{{ t }}" {{ 'selected="selected"' | safe if chosentask == t }}> {{ t | capitalize }} </option>
    {% endfor %}
  </select>
  <input type="text" placeholder="additional filter" value="{{extrafilter}}" name="extrafilter"/>
  <input type="submit" value="Filter" />
</form>

<p>
    <input type="checkbox" id="select_all" /> Select All
</p>

{% for l in job_summary_dict.keys() %}
<h2> {{job_summary_dict[l]|length}} Jobs at {{l}} in {{ filtering | default('', True) | capitalize }} Error States {% if chosentask is not none %} in task {{chosentask}} {% endif %}</h2>
<form method="POST" action="{{ url_for('job_change_state') }}"> 
  <table class="page" style="font-size:9pt">
    <tr>
      <th/>
      <th/>
      <th> Time </th>
      <th> State </th>
      <th> Message </th>
    </tr>
  {% for job_id in job_summary_dict[l] %}

  {{ log_table(job_summary_dict[l][job_id],
                  headings=False, columns=[("Time", "time"),
                             ("State", "state"), ("Message", "message")],
                  checkbox=["job_id", job_id])}}

  <tr class="blankrow"><td colspan="5" style="padding:1ex;border:none">&nbsp;</td></tr>

  {% endfor %}
  </table>

  {% if request.authorization and request.authorization.username %}
  <br />
  <br />
  <select name="newstate">
  <option value=""{{ 'selected="selected"' | safe if selected_new_state is none}}>New State</option>
  {% for state in states %}
  <option value="{{ state }}" {{'selected="selected"' | safe if state == selected_new_state }}>
    {{ state | state_name }}
  </option>
  {% endfor %}

  </select>
  <br/>
  <p>
    <textarea rows=2 COLS=100 name="message"></textarea>
  </p>

  <input type="hidden" name="url" value="{{url_for('error_summary')}}">
  <input type="hidden" name="state_prev" value="{{ state_prev }}" />
  <input type="submit" value="submit">
  {% else %}
      <p>
          Please log in if you would like to change the job state.
      </p>
  {% endif %}
</form>

{% endfor %}
{% endblock %}
