{% extends "layout.html" %}
{% set active_page='error_summary' %}
{% block content%}

<form>
  <select name="filtering">
    <option value="" {{ 'selected="selected"' | safe if filtering is none }}>Any error type</option>
    {% for f in filtering_options %}
    <option value="{{ f }}" {{ 'selected="selected"' | safe if filtering == f }}> {{ f | capitalize }} </option>
    {% endfor %}
  </select>
  <input type="submit" value="Filter" />
</form>

{% for l in job_summary_dict.keys() %}
<h2> {{l}} {{ filtering | default('', True) | capitalize }} Error States</h2>
<form method="POST" action="{{ url_for('job_change_state') }}"> 
<table style="border:none;font-size:9pt">
  <tr>
    <th> Select </th>
    <th> Job ID </th>
    <th> State</th>
    <th>Time </th>
    <th> Message </th>
  </tr>
{% for job_id in job_summary_dict[l] %}
  {% for row in job_summary_dict[l][job_id] %}
  <tr>
  {% if loop.first %}
  <td rowspan="{{job_summary_dict[l][job_id]|length }}"> <input type="checkbox" value="{{job_id}}" name="job_id" /></td>
  <td rowspan="{{job_summary_dict[l][job_id]|length }}"> <a href="{{ url_for('job_info', job_id=job_id)}}">{{job_id}}</a> </td>
  {% endif %}
    <td class="state_{{ row.state | state_phase }}"> {{row.state | state_name }} </td>
    <td> {{row.time}} </td>
    <td> {{row.message}} </td>
    </tr>
  {% endfor %}
<tr class="blankrow"><td colspan="5" style="padding:1ex;border:none">&nbsp;</td></tr>

{% endfor %}

</table>
<br />
<br />
<select name="newstate">
  <option value=""{{ 'selected="selected"' | safe if selected_new_state is none}}>New State</option>
  {% for state in states %}
  <option value="{{ state }}" {{'selected="selected"' | safe if state == selected_new_state }}>{{ state | state_name }}</option>
  {% endfor %}
</select><br/>
<p>
  <textarea rows=2 COLS=100 name="message"></textarea>
</p>
<input type="hidden" name="url" value="{{url_for('error_summary')}}">
<input type="submit" value="submit">
</form>
{% endfor %}
{% endblock %}
