{% extends 'layout.html' %}
{% set active_page='summary' %}

{% block content %}

<h2>There are {{ total_count }} jobs in the database</h2>

<h2>Summary table</h2>

<table>

<tr>
    <th>State</th>
    {% for l in locations %}
        <th>{{ l }}</th>
    {% endfor %}
</tr>
{% for s, value in job_summary_dict.items() %}
    <tr>
        <td>{{ s | state_name }}</td>
        {% for l, numb  in value.items() %}
            <td><a href="{{ url_for('job_list', location=l, state=s) }}">{{ numb }}</a></td>
        {% endfor %}
    </tr>
{% endfor %}

</table>

{% endblock %}
