{% extends "layout.html" %}
{% set active_page='job' %}
{% from 'macros.html' import render_page_control %}
{% from 'macros.html' import render_choices with context %}
{% block body %}

{{render_choices() }}

{{ render_page_control(pagination) }}

{% for job in jobs %}
<div class="tile{% if job.state is state_active %} state_active{% endif %}">
  {% if mode == 'JSAQA' %}
  {% set url = job.qaurl %}
  <div class="tile_title qa_state_{{ job.qa_state | qa_state_name | lower }}">
    <a href="{{ url }}" title="{{ job.tag }}">
      {{ job.qa_state | qa_state_name }}
    </a>
  </div>
  {% elif mode == 'JSAProc' %}
  {% set url = job.url %}
  {% endif %}
  <div class="tile_title state_{{ job.state | state_phase }}">
    <a href="{{ url }}" title="{{ job.tag }}">
      {{ job.state | state_name }}
    </a>
  </div>

    <p>
        <a href="{{ url }}" title="{{ job.tag }}">
            {{ job.id }}
            <br />
            {{ job.location }}

            {% if job.preview is not none %}
            <br />
            <img src="{{ job.preview }}" height="64" alt="preview" />
            {% endif %}
        </a>
    </p>
</div>
{% endfor %}

{{ render_page_control(pagination) }}

{% endblock %}
