{% extends "layout.html" %}
{% set active_page='job' %}
{% from 'macros.html' import render_page_control %}
{% from 'macros.html' import render_choices with context %}
{% block body %}

{{render_choices(locations, selected_location, states, selected_state, qastates, selected_qastate, tasks, selected_task, selected_number, obsoptions, selected_obsoptions) }}

{{ render_page_control(pagination) }}
<h1>
{% if state_choice == 'JSAQA' %}
QA Summary
{% else %}
Job State Summary
{% endif %}
</h1>
{% for job in jobs %}
<div class="tile{% if job.state is state_active %} state_active{% endif %}">
  {% if state_choice == 'JSAQA' %}
  {% set url = job.qaurl %}
  <div class="tile_title qastate_{{ job.qastate | qastate_name | lower }}">
    <a href="{{ url }}" title="{{ job.tag }}">
      {{ job.qastate | qastate_name }}
    </a>
  </div>
  {% elif state_choice == 'JSAProc' %}
  {% set url = job.url %}
  {% endif %}
  <div class="tile_title state_{{ job.state | state_phase }}">
    <a href="{{ url }}" title="{{ job.tag }}">
      {{ job.state | state_name }}
    </a>
  </div>

    <p>
        <a href="{{ url }}" title="{{ job.tag }}">
            {{ job.id }}
            <br />
            {{ job.location }}

            {% if job.preview is not none %}
            <br />
            <img src="{{ job.preview }}" height="64" alt="preview" />
            {% endif %}
        </a>
    </p>
</div>
{% endfor %}

{{ render_page_control(pagination) }}

{% endblock %}
