{% extends "layout.html" %}
{% from 'macros.html' import break_underscore, render_page_control %}
{% block body %}

{{ render_page_control(pagination, 'job', False) }}

{% if info.task == 'jcmt-nightly' %}
<h1> {{ info.task }} : {{obsinfo |map (attribute='utdate') | uniq | join(' ')}} : {{ title }} </h1>
{% else %}
<h1>  {{ info.task }} : {{ title }} </h1>
{% endif %}

<div class="column-left">
  <div class="panel panel-small">
    <div class="jobsummary">
      <table class="summary">
        <caption> Job Info </caption>
        <tr><th> Job QA State </th>
          <td class="qa_state_{{ info.qa_state | qa_state_name | lower }}">
            {{info.qa_state | qa_state_name }} </td></tr>
        <tr><th>State</th><td class="state_{{ info.state | state_phase}}{% if info.state is state_active %} state_active{% endif %}">
            {{ info.state | state_name }}
        </td></tr>
        <tr><th>Location</th><td>{{ info.location }}</td></tr>
        {% if info.foreign_id is not none %}
        {% if info.foreign_url is none %}
        <tr><th>Foreign ID</th><td>{{ info.foreign_id }}</td></tr>
        {% else %}
        <tr><th>Foreign ID</th><td><a href="{{ info.foreign_url }}">
              {{ info.foreign_id }}
        </a></td></tr>
        {% endif %}
        {% endif %}
        <tr><th>Parameters</th><td class="recpar">{{ info.parameters }}</td></tr>

        <tr><th>Task</th><td>{{ info.task }} </td></tr>
        <tr><th>Mode</th><td>{{ info.mode }} </td></tr>
        {% for type, logs in log_files | dictsort %}
            <tr>
                <th>{{ type }} Logs</th>
                {% with log = logs[0] %}
                    <td><a href="{{ log.url }}" >{{ log.name | truncate(15, true) }}</a></td>
                {% endwith %}
            </tr>
        {% endfor %}
        <tr><th>Job Info Page</th><td><a href="{{url_for('job_info', job_id=info.id)}}">job information</a></td></tr>

      </table>
    </div>
  </div>

  <div class="panel panel-small jobqa">
    {% if request.authorization and request.authorization.username %}
    <form method="POST" action="{{ url_for('job_change_qa')}}">
      <input type="hidden" name="job_id" value="{{ info.id }}" >
      {% if pagination.next %}
      <input type="hidden" name="url" value="{{pagination.next}}">
      {% else %}
      <input type="hidden" name="url" value="{{url_for('job_qa', job_id=info.id)}}">
      {% endif %}
      <input type="hidden" name="qa_state" value="G">
      <input type="hidden" name="message" value="">
      <input type="submit" class="goodbutton" value="Good {{ '[go to next job]' if pagination.next else '[no more jobs]'}}">
    </form>

    <h4> Set QA state for this job</h4>
    <form method="POST" action="{{ url_for('job_change_qa')}}">
    <p>
      <input type="hidden" name="job_id" value="{{ info.id }}" >
      <input type="hidden" name="url" value="{{url_for('job_qa', job_id=info.id)}}">

      {% for q in qa_states %}
      <input type="radio" name="qa_state" id="{{q}}" value="{{q}}" {% if q == info.qa_state %} checked="checked" {% endif %}>
      <label for="{{q}}" class="qa_state_{{q|qa_state_name|lower}}"> {{q|qa_state_name}}</label>
      </input>
       </br>
      {% endfor %}
    </p>
    <textarea placeholder="List any problems seen" rows="3" name="message"></textarea></br>
    <input type="submit" value="Submit QA Status">
    </form>
    {% else %}
    <h4> You must be logged in to change QA </h4>
    {% endif %}
  </div>

  {% if obsinfo is not none %}
  <div class="panel panel-small">
    <table class="obsinfo">
      <caption> Observation Info </caption>
      <tr>
        {% for key in obsinfo[0].keys()
                if key not in ('id', 'job_id', 'backend',
                'association',  'obsidss', 'obsid' ) %}
        {% if key == 'utdate' %}
        <th> UT date</th>
        <th> UT time </th>
        {% elif key == 'obsnum' %}
        <th> scan </th>
        {% elif key == 'instrument' %}
        <th> Inst. </th>
        {% elif key == 'omp_status' %}
        <th> Synced OMP Status </th>
        {% else %}
        <th> {{ key }} </th>
        {% endif %}
        {% endfor %}
      </tr>
      {% for o in obsinfo %}
      <tr>
        {% for key in o.keys()
             if key not in ('id', 'job_id', 'backend',
             'association', 'obsidss', 'obsid') %}
        {% if key == 'utdate' %}
        {% set starttime = o.get('obsid', '').split('_')[2].split('T')[1] %}
        {% set uttime = ':'.join([starttime[0:2].lstrip('0'), starttime[2:4], starttime[4:6]]) %}
        <td> <a href="{{ url_for_omp('nightrep.pl', {'tel': 'JCMT', 'utdate':o.utdate }) }}">{{ o.utdate }}</a></td>
        <td> {{uttime}} </td>
        {% elif key == 'obsid' or key == 'obsidss' or key=='scanmode' %}
        <td> {{ break_underscore(o.get(key, '')) }} </td>
        {% elif key=='omp_status' %}
        <td class="omp-{{o.get(key, '')|omp_state_name}}">
          <a href="{{ url_for_omp_comment(o.obsid, o.instrument, o.obsnum, o.date_obs) }}">
            {{o.get(key, '') | omp_state_name}}
          </a>
        </td>
        {% else %}
        <td> {{ o.get(key, '') }} </td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

{% if parent_obs is not none %}
<div class="panel">
<table class="obsinfo">
  <caption> Parent Observation Info </caption>
  <tr>
  {% for key in parent_obs.values()[0][0]
                         if key not in ['id', 'backend','obsid','obsidss', 'association', 'qa_state']%}

  {% if key == 'obsnum' %}
  <th> scan </th>
  {% elif key == 'association' %}
  <th class="asscn"> asscn </th>
  {% elif key == 'job_id' %}
  <th> id </th>
  {% elif key == 'sourcename' %}
  <th class="sourcename"> source </th>
  {% elif key == 'omp_status' %}
  <th> Synced OMP Status </th>
  {% else %}
  <th> {{ key }} </th>
  {% endif %}
  {% endfor %}
  </tr>

  {% for obs in parent_obs.values() %}

    {% for o in obs%}
    <tr class="qa_state_{{ o.get('qa_state', '?')| qa_state_name | lower }}">
    {% for key in o.keys()
                         if key not in ['id', 'backend','obsid','obsidss', 'association', 'qa_state']%}
    {% if key == 'job_id'%}
    <td> <a href="{{url_for('job_info', job_id=o.get(key, ''))}}"> {{ o.get(key, '') }} </a></td>
    {% elif key == 'utdate' %}
    <td> <a href="{{ url_for_omp('nightrep.pl', {'tel': 'JCMT', 'utdate': o.utdate}) }}">{{ o.utdate }}</a></td>
    {% elif key == 'obsid' or key == 'obsidss' %}
    <td> {{ break_underscore(o.get(key, '')) }} </td>
    {% elif key == 'association' %}
    <td class="asscn"> {{o.get(key, '') }} </td>
    {% elif key == 'sourcename' %}
    <td class="sourcename"> {{o.get(key, '') }} </td>
    {% elif key == 'omp_status' %}
    <td class="omp-{{o.get(key, '')|omp_state_name}}">
      <a href="{{ url_for_omp_comment(o.obsid, o.instrument, o.obsnum, o.date_obs) }}">
        {{o.get(key, '') | omp_state_name}}
      </a>
    </td>
    {% else %}
    <td> {{ o.get(key, '') }} </td>
    {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}

  {% endfor %}
  </table>
</div>
{% endif %}

  <div class="panel panel-small">
    <table class="qalog">
      <caption> QA Log </caption>
      <tr>
        <th> QA State </th>
        <th> User </th>
        <th> Message </th>
        <th> Time </th>
      </tr>
      {% for entry in qalog %}
      <tr>
        <td class="qa_state_{{ entry.status | qa_state_name | lower }}"> {{ entry.status | qa_state_name }} </td>
        <td> {{ entry.username }} </td>
        <td> {{ entry.message }} </td>
        <td> {{ entry.datetime | datetimeformat | safe }} </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>

{% if previews %}
<div class="column-right">
  {% for l in previews %}
  <div class="panel preview">
    <h4>{{ break_underscore(l[0].split('_preview_')[0].split('jcmt_')[1]) }}</h4>
    <a href="{{ l[0] }}"><img src="{{ l[0] }}" /></a>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
