{% extends "layout.html" %}
{% block content %}
<table>
<tr><th>State</th><td>{{ info.state | state_name }}</td></tr>
<tr><th>Previous state</th><td>{{ info.state_prev | state_name }}</td></tr>
<tr><th>Tag</th><td>{{ info.tag }}</td></tr>
<tr><th>Location</th><td>{{ info.location }}</td></tr>
<tr><th>Foreign ID</th><td>{{ info.foreign_id }}</td></tr>
<tr><th>Mode</th><td>{{ info.mode }}</td></tr>
<tr><th>Parameters</th><td>{{ info.parameters }}</td></tr>
</table>

{% if log %}
<h2>Log</h2>

<table>
<tr>
    <th>Time</th>
    <th>State</th>
    <th>Previous state</th>
    <th>Host</th>
    <th>Message</th>
</tr>
{% for entry in log %}
<tr>
    <td>{{ entry.datetime }}</td>
    <td class="state_{{ entry.state_new | default('?') | state_phase }}">
        {{ entry.state_new | default('?') | state_name }}</td>
    <td>{{ entry.state_prev | default('?') |  state_name }}</td>
    <td>{{ entry.host }}</td>
    <td>{{ entry.message }}</td>
</tr>
{% endfor %}
</table>

<!-- Allow users to change state of job. -->
<h2> Change the state of this Job </h2>
<form method="POST" action="{{ url_for('job_change_state', job_id=info.id)}}">
    <select name="newstate">
      <option value""{{ 'selected="selected"' if selected_new_state is none}}>New State</option>
      {% for state in states %}
      <option value="{{ state }}" {{'selected="selected"' if state == selected_new_state }}>{{ state | state_name }}</option>
      {% endfor %}
      </select><br/>
    <textarea rows=3 COLS=30 name="message"></textarea>
    <input type="submit" value="Submit Change" />
</form>
{% endif %}



{% if previews %}
<h2>PREVIEW IMAGES</h2>
{% for l in previews %}
<img src="{{ l }}" />
{% endfor %}
{% endif %}

{% if orac_logs %}
<h2>ORAC-DR Logs</h2>
<p>The time stamp may not match with the databse log comments: different time zones in different systems </p>
<ul>
{% for l in orac_logs %}
  <li><a href="{{l}}" >{{l}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if wrapdr_logs %}
<h2>jsawrapdr Logs</h2>
<p>The time stamp may not match with the databse log comments: different time zones in different systems </p>
<ul>
{% for l in wrapdr_logs %}
  <li><a href="{{l}}" >{{l}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if output_files %}
<h2>Output Files</h2>

<ul>
{% for file in output_files %}
    <li>{{ file }}</li>
{% endfor %}
</ul>
{% endif %}

{% if input_files %}
<h2>Input Files</h2>

<ul>
{% for file in input_files %}
    <li>{{ file }}</li>
{% endfor %}
</ul>
{% endif %}


{% endblock %}
