{% extends "layout.html" %}
{% block content %}


<div id="wrapper">
<div class="col">
<table>
    <tr><th>State</th><td class="state_{{ info.state | state_phase}}">
        {{ info.state | state_name }}
    </td></tr>
    <tr><th>Location</th><td>{{ info.location }}</td></tr>
    {% if info.foreign_id is not none %}
        {% if info.foreign_url is none %}
            <tr><th>Foreign ID</th><td>{{ info.foreign_id }}</td></tr>
        {% else %}
            <tr><th>Foreign ID</th><td><a href="{{ info.foreign_url }}">
                {{ info.foreign_id }}
            </a></td></tr>
        {% endif %}
    {% endif %}
    <tr><th>Parameters</th><td>{{ info.parameters }}</td></tr>

  {% for key, value in summary.items() %}
  <tr>
    <th > {{key}} </th>
    <td> {{ value }}</td>
  </tr>
  {% endfor %}
</table>
</div>


{% if previews %}
<div class="col">
<a href="{{ previews[0][1] }}"><img src="{{ previews[0][0] }}"></a>
{% if previews|length == 1 %}
<p> Preview image (click to embiggen).</p>
{% elif previews|length > 1 %}
<p> First preview: (click to embiggen).</p>
{% endif %}
</div>
{% endif %}

<div class="clear"></div>




{% if log %}
<h2>Log</h2>

<table>
<tr>
    <th>Time</th>
    <th>State</th>
    <th>Previous state</th>
    <th>Host</th>
    <th>Message</th>
</tr>
{% for entry in log %}
<tr>
    <td>{{ entry.datetime }}</td>
    <td class="state_{{ entry.state_new | state_phase }}">
        {{ entry.state_new | state_name }}</td>
    <td>{{ entry.state_prev  | state_name }}</td>
    <td>{{ entry.host }}</td>
    <td>{{ entry.message }}</td>
</tr>
{% endfor %}
</table>

<!-- Allow users to change state of job. -->
<h2> Change the state of this Job </h2>


<form method="POST" action="{{ url_for('job_change_state')}}">
  <input type="hidden" name="job_id" value="{{ info.id }}" >
  <input type="hidden" name="url" value="{{url_for('job_info', job_id=info.id)}}">
<ul class="statebar">
<li>    <select name="newstate">
      <option value""{{ 'selected="selected"' if selected_new_state is none}}>New State</option>
      {% for state in states %}
      <option value="{{ state }}" {{'selected="selected"' if state == selected_new_state }}>{{ state | state_name }}</option>
      {% endfor %}
      </select></li>
<li>    <textarea rows=3 COLS=40 name="message"></textarea></li>
<li>    <input type="submit" value="Submit Change"/></li>
</ul>
</form>
{% endif %}



<div class="jobinfo">
<table>
<caption> Additional Job Info </caption>
<tr><th>Previous state</th><td>{{ info.state_prev | state_name }}</td></tr>
<tr><th>Tag</th><td>{{ info.tag }}</td></tr>
<tr><th>Mode</th><td>{{ info.mode }}</td></tr>
</table>
</div>

{% if obsinfo is not none %}
<div class="obsinfo">
<table>
  <caption> Additional Observation Info </caption>
  {% set n_obsinfo = obsinfo[obsinfo.keys()[0]] | length %}
  {% if n_obsinfo > 1 %}
  <tr>
    <th>&nbsp;</th>
    {% for obs in range(0, n_obsinfo) %}
    <th> Obs {{loop.index}} </th>
    {% endfor %}
  </tr>
  {% endif %}

  {% for key in obsinfo.keys() %}
  <tr>
    <th> {{key}} </th>
    {% for val in obsinfo[key] %}
    <td> {{ val }} </td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>
</div>
{% endif %}
<div class="clear"></div>

{% if orac_logs %}
<h2>ORAC-DR Logs</h2>
<p>The time stamp may not match with the databse log comments: different time zones in different systems </p>
<p>
<ul>
{% for l in orac_logs %}
  <li><a href="{{l}}" >{{l}}</a></li>
{% endfor %}
</ul>
</p>
{% endif %}

{% if wrapdr_logs %}
<h2>jsawrapdr Logs</h2>
<p>The time stamp may not match with the databse log comments: different time zones in different systems </p>
<ul>
{% for l in wrapdr_logs %}
  <li><a href="{{l}}" >{{l}}</a></li>
{% endfor %}
</ul>
{% endif %}


{% if previews|length > 1 %}
<h2>All Preview Images</h2>
<div style="text-align:center">
{{ previews|length }}
{% for l in previews %}
<a href="{{ l[1] }}"><img src="{{ l[0] }}"></a>
{% endfor %}
</div>
{% endif %}


{% if output_files %}
<hr/>
<h2>Output Files</h2>
<ul>
{% for file in output_files %}
    <li>{{ file }}</li>
{% endfor %}
</ul>
{% endif %}

{% if input_files %}
<hr/>
<h2>Input Files</h2>
  <ul class="multicol">
    {% for file in input_files %}
    <li>{{ file }}</li>
    {% endfor %}
  </ul>

{% endif %}


{% endblock %}
