{% extends 'layout.html' %}

{% block content %}

<h2>There are {{ total_count }} jobs in the database for this task.
{% if date_min is not none or date_max is not none %}
from {{date_min}} to {{date_max}}
{% endif %}
</h2>

{% if firstobs is not none and lastobs is not none %}
    <h3> Observations are present from {{firstobs}} to {{lastobs}} </h3>
{% endif %}

<div>
    <div class="col">
        <p> Processing times were identified for {{number_proc_jobs}} jobs</p>
        <dl>
          <dt> Total</dt>
          <dd> {{total_proc_time}} hrs</dd>
          <dt> Pointings</dt>
          <dd> {{pointings_proc_time}} hrs</dd>
          <dt> Calibrations</dt>
          <dd> {{cals_proc_time}} hrs</dd>
          <dt> Science</dt>
          <dd> {{science_proc_time}} hrs</dd>
        </dl>
    </div>

    {% if task_info is not none %}
    <div class="col">
        <dl>
            {% for (key, value) in task_info._asdict().items() %}
                <dt>{{ key }}</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
    </div>
    {% endif %}
</div>

<h2>Summary table</h2>

<div>
  <div class="col">
    <table>
      <tr>
        <th>State</th>
        {% for l in locations %}
        <th>{{ l }}</t>
        {% endfor %}
      </tr>
      {% for s, value in job_summary_dict.items() %}
      <tr>
        <td class="state_{{ s | state_phase}}"><a href="{{ url_for('job_list', state=s, task=task) }}">{{ s | state_name }}</a></td>
        {% for l, numb  in value.items() %}
        <td><a href="{{ url_for('job_list', location=l, state=s, task=task) }}">{{ numb }}</a></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col">
    <h4> All jobs </h4>
    <img src="{{ url_for('summary_piechart', task=task, stamp=stamp,date_min=date_min, date_max=date_max)}}" alt="pie chart" />
  </div>

</div>

<div class="clear"></div>

<div>
  <div class="col">
    <h4>Without pointings </h4>
    <img src="{{ url_for('summary_piechart', task=task, ObsTypes='Science',stamp=stamp,date_min=date_min, date_max=date_max)}}" alt="pie chart" />
  </div>
  <div class="col">
    <h4>Without pointings and calibrations </h4>
    <img src="{{ url_for('summary_piechart', task=task, ObsTypes='Science', CalTypes='NoCalibrations',stamp=stamp, date_min=date_min, date_max=date_max)}}" alt="pie chart" />
  </div>
</div>

{% endblock %}
