{% extends "layout.html" %}
{% from 'macros.html' import break_underscore, log_table, render_page_control %}
{% block body %}

{{ render_page_control(pagination, 'job', False) }}

<h1>  {{ title }} </h1>

<div id="pane-info">

<div class="panel panel-small">
<div class="jobsummary">
<table class="summary">
    <tr><th>State</th><td class="state_{{ info.state | state_phase}}{% if info.state is state_active %} state_active{% endif %}">
        {{ info.state | state_name }}
    </td></tr>
    <tr><th>QA State</th><td class="qa_state_{{ info['qa_state'] | qa_state_name |lower}}">
        <a href="{{ url_for('job_qa', job_id=info.id)}}">{{ info['qa_state'] | qa_state_name }}</a>
    </td></tr>
    <tr><th>Location</th><td>{{ info.location }}</td></tr>
    {% if info.foreign_id is not none %}
        {% if info.foreign_url is none %}
            <tr><th>Foreign ID</th><td>{{ info.foreign_id }}</td></tr>
        {% else %}
            <tr><th>Foreign ID</th><td><a href="{{ info.foreign_url }}">
                {{ info.foreign_id }}
            </a></td></tr>
        {% endif %}
    {% endif %}
    <tr><th>Parameters</th><td>{{ info.parameters }}</td></tr>
    {% if obsinfo is not none %}
    <tr><th>Sources</th><td>{{ obsinfo | map(attribute='sourcename') | uniq | join(' ') }} </td></tr>
    <tr><th>Instruments</th><td>{{ obsinfo | map(attribute='instrument') | uniq | join(' ') }} </td></tr>
    <tr><th>Obs types</th><td>{{ obsinfo | map(attribute='obstype') | uniq | join(' ') }} </td></tr>
    <tr><th>Projects</th><td>{{ obsinfo | map(attribute='project') | uniq | join(' ') }} </td></tr>
    <tr><th>Scan modes</th><td>{{ obsinfo | map(attribute='scanmode') | uniq | join(' ') }} </td></tr>
    {% endif %}
    {% if tiles is not none %}
    <tr><th>Tiles</th><td>{{ tiles | uniq | join(' ') }}</td></tr>
    {% endif %}
    <tr><th>Priority</th><td>{{ info.priority }} </td></tr>
    <tr><th>Task</th><td>{{ info.task }} </td></tr>
    <tr><th>Mode</th><td>{{ info.mode }} </td></tr>
    <tr><th>Tag</th><td>{{ break_underscore(info.tag) }} </td></tr>
</table>
</div>
</div>
{% if previews %}
<div class="panel panel-small">
<div class="preview">
  <figure>
    <a href="{{ previews[0][1] }}"><img src="{{ previews[0][0] }}" /></a>
    <figcaption> {% if previews|length >1 %}
      First  Preview (click to embiggen) <br> <a href="#previews">link to others</a>
      {% else %}
      Preview (click to embiggen).
      {% endif %}
    </figcaption>
  </figure>
</div>
</div>

{% endif %}







{% if obsinfo is not none %}
<div class="panel">
<table class="obsinfo">
  <caption> Additional Observation Info </caption>
  <tr>
  {% for key in obsinfo[0].keys()
             if key not in ('id', 'job_id', 'sourcename', 'instrument',
                            'obstype', 'project', 'scanmode', ) %}
  {% if key == 'obsnum' %}
  <th> scan </th>
  {% elif key == 'association' %}
  <th class="asscn"> asscn </th>
  {% elif key == 'omp_status' %}
  <th> Synced OMP Status </th>
  {% else %}
  <th> {{ key }} </th>
  {% endif %}
  {% endfor %}
  </tr>
  {% for o in obsinfo %}
  <tr>
    {% for key in o.keys()
               if key not in ('id', 'job_id', 'sourcename', 'instrument',
                            'obstype', 'project', 'scanmode', ) %}
    {% if key == 'utdate' %}
    <td> <a href="{{ url_for_omp('nightrep.pl', {'tel': 'JCMT', 'utdate': o.utdate}) }}">{{ o.utdate }}</a></td>
    {% elif key == 'obsid' or key == 'obsidss' %}
    <td> {{ break_underscore(o.get(key, '')) }} </td>
    {% elif key == 'association' %}
    <td class="asscn"> {{o.get(key, '') }} </td>
    {% elif key == 'sourcename' %}
    <td class="sourcename"> {{o.get(key, '')}} </td>
    {% elif key == 'omp_status' %}
    <td class="omp-{{o.get(key, '')|omp_state_name}}">
      <a href="{{ url_for_omp_comment(o.obsid, o.instrument, o.obsnum, o.date_obs) }}">
        {{o.get(key, '') | omp_state_name}}
      </a>
    </td>
    {% else %}
    <td> {{ o.get(key, '') }} </td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
  </table>
</div>
{% endif %}

{% if parent_obs is not none %}
<div class="panel">
<table class="obsinfo">
  <caption> Parent Observation Info </caption>
  <tr>
  {% for key in parent_obs.values()[0][0]
                         if key not in ['id', 'backend','obsid','obsidss', 'association']%}

  {% if key == 'obsnum' %}
  <th> scan </th>
  {% elif key == 'association' %}
  <th class="asscn"> asscn </th>
  {% elif key == 'job_id' %}
  <th> id </th>
  {% elif key == 'sourcename' %}
  <th class="sourcename"> source </th>
  {% elif key == 'omp_status' %}
  <th> Synced OMP Status </th>
  {% else %}
  <th> {{ key }} </th>
  {% endif %}
  {% endfor %}
  </tr>

  {% for obs in parent_obs.values() %}
  <tr>
    {% for o in obs%}
    {% for key in o.keys()
                         if key not in ['id', 'backend','obsid','obsidss', 'association']%}
    {% if key == 'job_id'%}
    <td> <a href="{{url_for('job_info', job_id=o.get(key, ''))}}"> {{ o.get(key, '') }} </a></td>
    {% elif key == 'utdate' %}
    <td> <a href="{{ url_for_omp('nightrep.pl', {'tel': 'JCMT', 'utdate': o.utdate}) }}">{{ o.utdate }}</a></td>
    {% elif key == 'obsid' or key == 'obsidss' %}
    <td> {{ break_underscore(o.get(key, '')) }} </td>
    {% elif key == 'association' %}
    <td class="asscn"> {{o.get(key, '') }} </td>
    {% elif key == 'sourcename' %}
    <td class="sourcename"> {{o.get(key, '')}} </td>
    {% elif key == 'omp_status' %}
    <td class="omp-{{o.get(key, '')|omp_state_name}}">
      <a href="{{ url_for_omp_comment(o.obsid, o.instrument, o.obsnum, o.date_obs) }}">
        {{o.get(key, '') | omp_state_name}}
      </a>
    </td>
    {% else %}
    <td> {{ o.get(key, '') }} </td>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </tr>
  {% endfor %}
  </table>
</div>
{% endif %}
{% if output_files %}
<div class="panel">
<h2>Output Files</h2>
<ul>
{% for file in output_files %}
    <li>{{ file }}</li>
{% endfor %}
</ul>
</div>
{% endif %}


</div>

<div id="pane-log">
{% if log %}
<div class="panel">
<h2>Logs</h2>
<table>
{{ log_table(log) }}
</table>

<!-- Allow users to change state of job. -->
<h3> Change the state of this Job </h3>

{% if request.authorization and request.authorization.username %}
<div class="changestate">
<form method="POST" action="{{ url_for('job_change_state')}}">
  <input type="hidden" name="job_id" value="{{ info.id }}" >
  <input type="hidden" name="url" value="{{url_for('job_info', job_id=info.id)}}">
  <select name="newstate">
    <option value=""{{ 'selected="selected"' if selected_new_state is none}}>New State</option>
    {% for state in states %}
    <option value="{{ state }}" {{'selected="selected"' if state == selected_new_state }}>{{ state | state_name }}</option>
    {% endfor %}
  </select>
  <textarea rows="2" name="message" placeholder="Insert log message here."></textarea>
  <input type="submit" value="Submit Change"/>

</form>
</div>
{% else %}
<p>
    Please log in to change the job state.
</p>
{% endif %}
</div>
<div class="panel">
<h3>ORAC-DR Logs</h3>
<ul>
{% for l in orac_logs %}
  <li><a href="{{l}}" >{{l}}</a></li>
{% endfor %}
</ul>

<h3>jsawrapdr Logs</h3>
<ul>
{% for l in wrapdr_logs %}
  <li><a href="{{l}}" >{{l}}</a></li>
{% endfor %}
</ul>
<p>The time stamp may not match with the database log comments: different time zones in different systems </p>
</div>
</div>

{% endif %}

{% if previews|length > 1 %}
<h3 id="previews"> Preview images  (Click image to embiggen)</h3>
{% for l in previews %}
    <div class="panel preview">
      <figure>
        <a href="{{ l[1] }}"><img src="{{ l[0] }}" /></a>
        <figcaption>{{ break_underscore(l[0].split('_preview_')[0].split('jcmt_')[1]) }}</figcaption>
      </figure>
    </div>
{% endfor %}
{% endif %}


{% if input_files %}
<div class="panel">
<h2>Input Files</h2>
  <ul class="multicol">
    {% for file in input_files %}
    <li>{{ file }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if parents %}
<div class="panel">
<h2>Parent Jobs</h2>
  <ul class="multicol">
    {% for p in parents.keys() %}
    <li><a href="{{ url_for('job_info', job_id=p) }}"> {{p}} </a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}


{% endblock %}
