{% from 'macros.html' import render_navbar %}

<!DOCTYPE HTML>

<html>
    <head>
        <title>JSA Processing: {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jsa_proc.css') }}" type="text/css" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" sizes="16x16" />
    </head>
    <body>
        {{ render_navbar(active_page) }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}

      {% block body %}

        <div id="content">
          <h1>{{ title }}</h1>
          {% block content %}

          {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
