<!DOCTYPE HTML>

<html>
    <head>
        <title>JSA Processing: {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jsa_proc.css') }}" type="text/css" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" sizes="16x16" />
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}

      {% set navigation_bar = [
        ('/', 'summary', 'Summary'),
        ('/error_summary', 'error_summary', 'Errors'),
        ('/job', 'job', 'Full Job List')] -%}

        <div id="nav">
        <ul >
          {% for href, id, caption in navigation_bar %}
          <li {% if id== active_page %} class="active" {% endif %} >
            <a href="{{ href |e }}"  > {{ caption |e}} </a></li>
          {% endfor %}
        </ul>
        </div>
      {% block body %}

        <div id="content">
            <h1>{{ title }}</h1>
            {% block content %}

            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
