{% macro render_navbar(active_page) %}

{% set navigation_bar = [
  ('/summary', 'summary', 'Summary'),
  ('/error_summary', 'error_summary', 'Errors'),
  ('/job', 'job', 'Full Job List')] -%}

<div id="nav">
  <ul >
    {% for href, id, caption in navigation_bar %}
    <li {% if id== active_page %} class="active" {% endif %} >
      <a href="{{ href |e }}"  > {{ caption |e}} </a></li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro render_page_control(pagination) %}
    {% if pagination is not none %}
        <div>
            {% if pagination.first is not none %}
                <a href="{{ pagination.first }}">First page</a>
            {% endif %}
            {% if pagination.prev is not none %}
                <a href="{{ pagination.prev }}">Previous page</a>
            {% endif %}
            {% if pagination.next is not none %}
                <a href="{{ pagination.next }}">Next page</a>
            {% endif %}
            {% if pagination.last is not none %}
                <a href="{{ pagination.last }}">Last page</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
