{% macro render_navbar(active_page, onlogout=False) %}
    {% set navigation_bar = [
      ('/summary', 'summary', 'Summary'),
      ('/error_summary', 'error_summary', 'Errors'),
      ('/job', 'job', 'Full Job List'),
      ('/qa', 'qa', 'QA Summary'),
      ('/qa-nightly', 'qa-nightly', 'Nightly QA'),
      ] -%}

    <ul id="nav">
        {% for href, id, caption in navigation_bar %}
            <li {% if id == active_page %} class="active" {% endif %}>
                <a href="{{ href }}">{{ caption }}</a>
            </li>
        {% endfor %}
            <li class="login" >
              {% if request.authorization and 'username' in request.authorization %}
              <a href={{ url_for('logout') }} > {{ request.authorization.username }} (logout) </a>
              {% else %}
              <a href= {{ url_for('login') }}>login </a>
              {% endif %}
            </li>
    </ul>
{% endmacro %}

{% macro render_page_control(pagination) %}
    {% if pagination is not none %}
        <div>
            {% if pagination.first is not none %}
                <a href="{{ pagination.first }}">First page</a>
            {% else %}
                <span class="greyedlink">First page</span>
            {% endif %}
            {% if pagination.prev is not none %}
                <a href="{{ pagination.prev }}">Previous page</a>
            {% else %}
                <span class="greyedlink">Previous page</span>
            {% endif %}
            {% if pagination.next is not none %}
                <a href="{{ pagination.next }}">Next page</a>
            {% else %}
                <span class="greyedlink">Next page</span>
            {% endif %}
            {% if pagination.last is not none %}
                <a href="{{ pagination.last }}">Last page</a>
            {% else %}
                <span class="greyedlink">Last page</span>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_choices(locations, selected_location, states, selected_state, qastates, selected_qastate, tasks, selected_task, selected_number, obsoptions, selected_obsoptions) %}
<form>
    <p>
      <input type="hidden" name="mode" value="{{mode}}"></input>
        <select name="location">
            <option value="" {{ 'selected="selected"' | safe if selected_location is none }}>Any location</option>
            {% for location in locations %}
                <option value="{{ location }}" {{ 'selected="selected"' | safe if location == selected_location }}>{{ location }}</option>
            {% endfor %}
        </select>
        <select multiple="multiple" name="state" size="{{ states |length + 1}}">
            <option value="" {{ 'selected="selected"' | safe if selected_state is none }}>Any state</option>
            {% for state in states %}
                <option value="{{ state }}" {{ 'selected="selected"' | safe if state in selected_state }}>{{ state | state_name }}</option>
            {% endfor %}
        </select>
        <select name="qastate">
          <option value="" {{ 'selected="selected"' | safe if selected_qastate is none }}> Any qastate</option>
            {% for qastate in qastates %}
                <option value="{{ qastate }}" {{ 'selected="selected"' | safe if qastate == selected_qastate }}>{{ qastate | qastate_name }}</option>
            {% endfor %}
        </select>
        <select name="task">
            <option value="" {{ 'selected="selected"' | safe if selected_task is none }}>All tasks</option>
            {% for task in tasks %}
                <option value="{{ task }}" {{ 'selected="selected"' | safe if task == selected_task }}>{{ task }}</option>
            {% endfor %}
        </select>
        <select name="number">
          {% for number in [12, 24, 48, 100, 200, 500, 1000] %}
          <option value="{{ number }}" {{ 'selected="selected"' | safe if number == selected_number }}>{{ number }}</option>
          {% endfor %}
        </select>
        {% for key in obsoptions %}
        {% with selected = selected_obsoptions.get(key, None) %}
        <select name="{{ key }}">
          <option value="" {{ 'selected="selected"' | safe if selected is none }}>Any {{ key }}</option>
          {% for option  in  obsoptions[key].values() %}
          <option value="{{ option.name }}" {{ 'selected="selected"' | safe if selected == option.name}}>{{ option.name }}</option>
          {% endfor %}
        </select>
        {% endwith %}
        {% endfor %}
        <input type="text" name="date_min" value="{{ date_min | default('', True) }}" size="10" placeholder="YYYY-MM-DD" /> &ndash;
        <input type="text" name="date_max" value="{{ date_max | default('', True) }}" size="10" placeholder="YYYY-MM-DD" />
        <input type="text" name="name" value="{{ name | default('', True) }}" placeholder="Source name" />

        <input type="submit" value="Filter" />
    </p>
</form>

{% endmacro %}

{# Macro to allow a message to be broken at underscores.  This is to
   avoid problems with log messages including long filenames with
   underscore-separated components. #}
{% macro break_underscore(message) %}
  {{ message.split('_') | join('_<wbr />' | safe) }}
{% endmacro %}
