{% macro render_navbar(active_page, onlogout=False) %}
    {% set navigation_bar = [
      ('/summary', 'summary', 'Summary'),
      ('/error_summary', 'error_summary', 'Errors'),
      ('/job', 'job', 'Full Job List'),
      ('/qa', 'qa', 'QA Summary'),
      ('/qa-nightly', 'qa-nightly', 'Nightly QA'),
      ] -%}

    <ul id="nav">
        {% for href, id, caption in navigation_bar %}
            <li {% if id == active_page %} class="active" {% endif %}>
                <a href="{{ href }}">{{ caption }}</a>
            </li>
        {% endfor %}
            <li class="login" >
              {% if request.authorization and 'username' in request.authorization %}
              <a href={{ url_for('logout') }} > {{ request.authorization.username }} (logout) </a>
              {% else %}
              <a href= {{ url_for('login') }}>login </a>
              {% endif %}
            </li>
    </ul>
{% endmacro %}

{% macro render_page_control(pagination, description='page', firstlast=True) %}
    {% if pagination is not none %}
        <div class="pagination">
          {% if pagination.count is not none %}
          <p> {{pagination.count}} jobs matching search criteria. </p>
          {% endif %}
            {% if firstlast %}
                {% if pagination.first is not none %}
                    <a class="page_first" href="{{ pagination.first }}">First {{ description }}</a>
                {% else %}
                    <span class="page_first greyedlink">First page</span>
                {% endif %}
            {% endif %}
            {% if pagination.prev is not none %}
                <a class="page_prev" href="{{ pagination.prev }}">Previous {{ description }}</a>
            {% else %}
                <span class="page_prev greyedlink">Previous page</span>
            {% endif %}
            {% if pagination.next is not none %}
                <a class="page_next" href="{{ pagination.next }}">Next {{ description }}</a>
            {% else %}
                <span class="page_next greyedlink">Next page</span>
            {% endif %}
            {% if firstlast %}
                {% if pagination.last is not none %}
                    <a class="page_last" href="{{ pagination.last }}">Last {{ description }}</a>
                {% else %}
                    <span class="page_last greyedlink">Last page</span>
                {% endif %}
            {% endif %}
            {% if pagination.up is not none %}
                <a class="page_up" href="{{ pagination.up}}">Up</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_choices() %}
<form>
    <p>
        <select name="location">
            <option value="" {{ 'selected="selected"' | safe if query.location is none }}>Any location</option>
            {% for location in locations %}
                <option value="{{ location }}" {{ 'selected="selected"' | safe if location == query.location }}>{{ location }}</option>
            {% endfor %}
        </select>
        <select multiple="multiple" name="state" size="5">
            {% for state in states %}
                <option value="{{ state }}" {{ 'selected="selected"' | safe if state in query.state }}>{{ state | state_name }}</option>
            {% endfor %}
        </select>
        <select name="qa_state">
          <option value="" {{ 'selected="selected"' | safe if query.qa_state is none }}> Any QA state</option>
            {% for qa_state in qa_states %}
                <option value="{{ qa_state }}" {{ 'selected="selected"' | safe if qa_state == query.qa_state }}>{{ qa_state | qa_state_name }}</option>
            {% endfor %}
        </select>
        <select name="task">
            <option value="" {{ 'selected="selected"' | safe if query.task is none }}>All tasks</option>
            {% for task in tasks %}
                <option value="{{ task }}" {{ 'selected="selected"' | safe if task == query.task }}>{{ task }}</option>
            {% endfor %}
        </select>
        <select name="number">
          {% for number_option in [12, 24, 48, 100, 200, 500, 1000] %}
          <option value="{{ number_option }}" {{ 'selected="selected"' | safe if number_option == number }}>{{ number_option }}</option>
          {% endfor %}
        </select>
        {% for key in obsqueries %}
        {% with selected = query.get(key, None) %}
        <select name="{{ key }}">
          <option value="" {{ 'selected="selected"' | safe if selected is none }}>Any {{ key }}</option>
          {% for option  in  obsqueries[key].values() %}
          <option value="{{ option.name }}" {{ 'selected="selected"' | safe if selected == option.name}}>{{ option.name }}</option>
          {% endfor %}
        </select>
        {% endwith %}
        {% endfor %}
        <input type="text" name="date_min" value="{{ query.date_min | default('', True) }}" size="10" placeholder="YYYY-MM-DD" /> &ndash;
        <input type="text" name="date_max" value="{{ query.date_max | default('', True) }}" size="10" placeholder="YYYY-MM-DD" />
        <input type="text" name="sourcename" value="{{ query.sourcename | default('', True) }}" placeholder="Source name" />
        <input type="text" name="obsnum" value="{{ query.obsnum | default('', True) }}" size="5" placeholder="Obs #"/>
        <input type="text" name="project" value="{{ query.project | default('', True) }}" size="10" placeholder="Project"/>
        <input type="text" name="tiles" value="{{ query.tiles | default('', True) }}" size="6" placeholder="Tile #"/>
        <input type="text" name="tau_min" value="{{ query.tau_min | default('', True) }}" size="10" placeholder="225 GHz Tau" /> &ndash;
        <input type="text" name="tau_max" value="{{ query.tau_max | default('', True) }}" size="10" placeholder="225 GHz Tau" />
        <input type="checkbox" name="mode" value="JSAQA" {{ 'checked="checked"' | safe if mode == 'JSAQA' }}> QA </input>
        <input type="submit" value="Filter" />

    </p>
</form>

{% endmacro %}

{# Macro to allow a message to be broken at underscores.  This is to
   avoid problems with log messages including long filenames with
   underscore-separated components. #}
{% macro break_underscore(message) %}
  {{ message.split('_') | join('_<wbr />' | safe) }}
{% endmacro %}

{# Macro to print the log out #}
{% macro log_table(log, headings=True,
                                columns=[("Time","datetime"), ("State","state_new"),
                                     ("Previous state","state_prev"), ("Host","host"),
                                     ('User', 'username'), ("Message", "message")],
                                checkbox = None) %}

  {% if headings == true %}
  <tr>
    {% if checkbox != none %}
    <th></th>
    <th></th>
    {% endif %}
    {% for c in columns %}
    <th> {{ c[0] }} </th>
    {% endfor %}
  </tr>
  {% endif %}

<tr>
  {% if checkbox !=  none %}
  <td class="checkbox" rowspan="{{ log|length }}"> <input type="checkbox" value="{{checkbox[1]}}"
                                         name="{{checkbox[0]}}" /></td>
  <td class="checkboxid" rowspan="{{ log|length }}"> <a href="{{ url_for('job_info', job_id=checkbox[1]) }}"> {{checkbox[1]}}</a> </td>
    {% endif %}
  {% for entry in log %}
  {% set entry = entry._asdict() %}
    {% for c in columns %}

    {% if c[1] == "message" %}
    <td class="{{c[1]}}">{{ entry[c[1]] |replace("\n", "<br/>" | safe) |replace("_","_<wbr />" | safe) }}</td>

    {% elif c[1] == "state_new" or c[1] == "state" %}
    <td class="state_{{ entry[c[1]] | state_phase }}">
      {{ entry[c[1]] | state_name }}</td>

    {% elif c[1] == "state_prev" %}
    <td class="{{c[1]}}"> {{ entry[c[1]] | state_name }}</td>

    {% elif c[1] == "time" or c[1] == "datetime" %}
    <td class="{{c[1]}}"> {{ entry[c[1]] | datetimeformat |safe }} </td>
    {% else %}
    <td class="{{c[1]}}"> {{ entry[c[1]] }} </td>

    {% endif %}

    {% endfor %}
  </tr> <tr>
  {% endfor %}

{% endmacro %}

