{% extends 'layout.html' %}
{% set active_page='qa' %}

{% block content %}

<table>
  <tr>
    <th>Task name</th>
    <th colspan="{{ (results.values()|list)[0].keys()|length }}">Number of Processed Jobs</th>
  </tr>
  <tr>
    <th>(Click for summary)</th>
    <th> total </th>
    {% for qa_state in qa_states %}
    <th>{{qa_state| qa_state_name}}</th>
    {% endfor %}
    </tr>
  {% for taskname, jobs in results.items() %}
  <tr>
    <td><a href="{{ url_for('job_summary', task=taskname) }}">{{ taskname }}</a></td>
    <td><a href="{{ url_for('job_list', task=taskname, mode='JSAQA') }}">{{ jobs['total'] }}</a></td>
    {% for qa_state in qa_states %}
    <td class = "qa_state_{{qa_state | qa_state_name | lower }}"><a href="{{ url_for('job_list', task=taskname, qa_state=qa_state, mode='JSAQA')}} ">{{ jobs[qa_state] }} </a></td>
    {% endfor %}
  </tr>
{% endfor %}
</table>

{% endblock %}
