{% extends 'layout.html' %}
{% set active_page='qa-nightly' %}

{% block content %}

<h2>{{ daylist[0] }} &ndash; {{ daylist[-1] }}</h2>
<form>
  <input type="text" name="date_min" value="{{ daylist[0] | default('', True) }}" size="10" placeholder="YYYY-MM-DD" />
  &mdash;
  <input type="text" name="date_max" value="{{ daylist[-1] | default('', True) }}" size="10" placeholder="YYYY-MM-DD" />
  <input type="submit" value="Filter" />
</form>


{% set results = results['jcmt-nightly'] %}
{% set task = 'jcmt-nightly' %}
<table>
  <tr>
    <th class="date"> Date </th>
    <th></th>
    <th class="empty"> &nbsp;</th>
    {% for i in statedict.keys() %}
    <th colspan="{{ results[results.keys()[0]][i].values()|length }}">{{ i }}</th><th class="empty">&nbsp;</th>
    {% endfor %}
  </tr>

  <tr>
    <th></th>
    <th> Total </th>
    <th class="empty"> &nbsp; </th>
    {% for i in statedict.keys() %}
    {% for qa_state in results[results.keys()[0]][i].keys() %}
    <th>{{qa_state | qa_state_name }}</th>
    {% endfor %}
    <th class="empty">&nbsp;</th>
    {% endfor %}
  </tr>

  {% for date in results.keys() %}
  <tr>
    <td>{{ date }} </td>
    <td><a href="{{ url_for('job_list', task=task, date_min=date, date_max=date, mode='JSAQA') }}">{{ results[date].pop('total') }}</a></td>
    <td class="empty"> &nbsp;</td>
    {% for s in statedict.keys() %}
        {% for qa_state in results[date][s].keys() %}

        {% if qa_state != 'total' %}

        <td class="qa_state_{{ qa_state | qa_state_name | lower }}">
          {% if results[date][s][qa_state] != 0 %}
          <a href="{{ url_for('job_list', task=task, qa_state=qa_state, mode='JSAQA', date_min=date, date_max=date, state=statedict[s])}} ">{{ results[date][s][qa_state] }}</a>
          {% else %}
          &ndash;
          {% endif %}
        </td>

        {% else %}
        <td>
          {% if results[date][s][qa_state] != 0 %}
          <a href="{{ url_for('job_list', task=task, mode='JSAQA', date_min=date, date_max=date, state=statedict[s])}} ">{{ results[date][s][qa_state] }}</a>
          {% else %}
          &ndash;
          {% endif %}
        </td>
        {% endif %}

        {% endfor %}
        <td class="empty"></td>
    {% endfor %}

  </tr>
  {% endfor %}

</table>

{% endblock %}
