html {
    font-family: sans-serif;
}

body {
    margin: 0;
    text-align: center;
    background: silver;
    width: 100%;
}

hr {
    color: green;
    background-color: green;
    height: 5px;
}

a:link, a:visited {
    background: transparent;
    color: blue;
}

span.greyedlink {
    opacity: 0.20;
    cursor: not-allowed;
}

ul.multicol {
    columns: auto;
    -moz-columns: auto;
    -webkit-columns: auto;
    column-width: 30ex;
    -moz-column-width: 30ex;
    -webkit-column-width: 30ex;
}

h1, h2, h3, h4 {
    padding-top: 1ex;
    margin-bottom: 1ex;
    text-align: center;
}

div#content {
    max-width: 110ex;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    padding: 1ex;
    text-align: left;
}

div#pane-info {
    display: inline-block;
    max-width: 48%;
    min-width: 100ex;
    vertical-align: top;
}

div#pane-log {
    display: inline-block;
    max-width: 48%;
    min-width: 100ex;
    vertical-align: top;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

ul#nav {
    display: block;
    margin: 0px;
    width: 100%;
    background: green;
    padding-top: 0.3ex;
    font-size: 130%;
    list-style: none;
    padding: 5px;
    border-bottom: 5px solid white;
    text-align: center;
}

ul#nav li {
    padding: 0.3ex 0 0 0;
    display: inline;
    background: green;
    color: white;
    vertical-align: bottom;
}

ul#nav li.active {
    background: white;
    color: green;
    border-bottom: 5px solid white;
}

ul#nav a {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    color: inherit;
    text-align: center;
}

img {
    max-width: 100%;
}

div.jobsummary {
    display: inline-block;
    vertical-align: top;
    margin: auto;
}

div.jobsummary table td {
    width: 12ex;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    font-size: small;
}

div.panel {
    margin: 2ex;
    padding: 1ex;
    background: white;
    color: black;
    text-align: left;
    border-radius: 8px;
}

div.panel-small {
    display: inline-block;
    vertical-align: top;
    background: white;
}

div.preview {
    clear: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: auto;
}

div.preview figure {
    margin: auto;
}

div.tile {
    display: inline-block;
    width: 15ex;
    border: 2px solid black;
    margin: 20px;
    background: white;
    color: black;
    vertical-align: top;
}

div.tile_title {
    margin: 0px;
    padding: 5px;
    border-bottom: 2px solid black;
    font-weight: bold;
}

div.tile img {
    padding: 5px;
}

div.tile p {
    margin: 0px;
    padding: 5px;
    height: 15ex;
}

div.tile a {
    display: block;
    color: inherit;
    text-decoration: none;
    height: 100%;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    margin: 0px;
    padding: 5px;
}

.state_queue, .state_queue a {
    background: red;
    color: white;
}

.state_fetch, .state_fetch a {
    background: yellow;
    color: black;
}

.state_run, .state_run a {
    background: green;
    color: white;
}

.state_complete, .state_complete a {
    background: blue;
    color: white;
}

.state_error, .state_error a {
    background: black;
    color: white;
}

.state_active, .state_active a {
    box-shadow: 0px 0px 10px 5px white, 0px 0px 20px 10px yellow;
}

div.changestate {
    text-align: center;
}

div.changestate select, .changestate input {
    vertical-align: top;
    text-align: center;
}

<<<<<<< HEAD
=======
div.col{
    display: inline-block;
}
>>>>>>> Web: added a task summary page
textarea {
    width: 60%;
}
